<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<servlet>
		<servlet-name>Insert</servlet-name>
		<servlet-class>Insert</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Insert</servlet-name>
		<url-pattern>/Insert</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ADD_BOOK</servlet-name>
		<servlet-class>ADD_BOOK</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ADD_BOOK</servlet-name>
		<url-pattern>/ADD_BOOK</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Logout</servlet-name>
		<servlet-class>Logout</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/Logout</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>Login</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Login_Backend</servlet-name>
		<servlet-class>Login_Backend</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login_Backend</servlet-name>
		<url-pattern>/Login_Backend</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Search_by_Author</servlet-name>
		<servlet-class>Search_by_Author</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Search_by_Author</servlet-name>
		<url-pattern>/Search_by_Author</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Search_by_Name</servlet-name>
		<servlet-class>Search_by_Name</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Search_by_Name</servlet-name>
		<url-pattern>/Search_by_Name</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Search_by_Genre</servlet-name>
		<servlet-class>Search_by_Genre</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Search_by_Genre</servlet-name>
		<url-pattern>/Search_by_Genre</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Search_user</servlet-name>
		<servlet-class>Search_user</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Search_user</servlet-name>
		<url-pattern>/Search_user</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Browse_Books</servlet-name>
		<servlet-class>Browse_Books</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Browse_Books</servlet-name>
		<url-pattern>/Browse_Books</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Update_Profile</servlet-name>
		<servlet-class>Update_Profile</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Update_Profile</servlet-name>
		<url-pattern>/Update_Profile</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Delete_Book</servlet-name>
		<servlet-class>Delete_Book</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Delete_Book</servlet-name>
		<url-pattern>/Delete_Book</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Delete_User</servlet-name>
		<servlet-class>Delete_User</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Delete_User</servlet-name>
		<url-pattern>/Delete_User</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Add_to_cart</servlet-name>
		<servlet-class>Add_to_cart</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Add_to_cart</servlet-name>
		<url-pattern>/Add_to_cart</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>View_cart</servlet-name>
		<servlet-class>View_cart</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>View_cart</servlet-name>
		<url-pattern>/View_cart</url-pattern>
	</servlet-mapping>
		<servlet>
			<servlet-name>View_Orders</servlet-name>
			<servlet-class>View_Orders</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>View_Orders</servlet-name>
			<url-pattern>/View_Orders</url-pattern>
		</servlet-mapping>
		<servlet>
		<servlet-name>Checkout</servlet-name>
		<servlet-class>Checkout</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Checkout</servlet-name>
		<url-pattern>/Checkout</url-pattern>
	</servlet-mapping>
</web-app>
